Repository open-eid/CDOC2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image, pages

build-image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.22.0-debug
    entrypoint:
    - ''
  script:
  ...

pages:
  stage: deploy
  image: $CI_REGISTRY_IMAGE
  script:
  - cd cdoc2-system-docs && mkdocs build --strict --verbose --site-dir public
  artifacts:
    paths:
    - cdoc2-system-docs/public
  publish: cdoc2-system-docs/public

draft
  .vscode/settings.json
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch02_encryption_schemes.md
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch03_container_format.md
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch04_capsule_server.md
  cdoc2-system-docs/mkdocs.yml
Due: pages

RM-2992: added test on commit
  .gitlab-ci.yml
  Dockerfile
  nvm-install.sh
Due: build-image

RM-2992: test linter works
  .markdownlint.json
  cdoc2-system-docs/README.md
  cdoc2-system-docs/docs/01_use_case_model/SID_MID_use_cases.md
  cdoc2-system-docs/docs/03_system_architecture/ch03_external_interfaces.md
  cdoc2-system-docs/docs/08_User_Guides/konteineri_säilitamise_juhend.md
  cdoc2-system-docs/docs/09_Appendixes/A1_Security_level.md
Due: pages

SD-JWT idea and PoC
  cdoc2-sd-jwt-testing.py
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch04_capsule_server.md
Due: pages

N-of-N scheme in better shape
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch02_encryption_schemes.md
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch04_capsule_server.md
Due: pages

commented out SC08
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch02_encryption_schemes.md
Due: pages

Added illustrative diagrams
  cdoc2-system-docs/docs/03_system_architecture/ch01_system_context.md
  cdoc2-system-docs/docs/08_User_Guides/.pages
  cdoc2-system-docs/docs/08_User_Guides/public_intro.md
  cdoc2-system-docs/docs/img/CDOC1 main flow.jpg
  cdoc2-system-docs/docs/img/CDOC2 main flow (ID-card, password).jpg
  cdoc2-system-docs/docs/img/CDOC2 model.jpg
  cdoc2-system-docs/docs/img/server capsule-CDOC 1 VS 2.drawio.png
  cdoc2-system-docs/docs/img/server capsule-Capsule options.drawio.png
  cdoc2-system-docs/docs/img/server capsule-Server capsule.drawio.png
  cdoc2-system-docs/docs/index.md
Due: pages

Added diagrams from a CDOC2 presentation
  cdoc2-system-docs/docs/08_User_Guides/public_intro.md
  cdoc2-system-docs/docs/img/CDOC1 simple.png
  cdoc2-system-docs/docs/img/CDOC2 simple.png
Due: pages

Removed unneeded TODO
  cdoc2-system-docs/docs/index.md
Due: pages

Add draw.io dir
  draw.io/.gitkeep
Due: none

Described key_label formatting recommendations
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch03_container_format.md
Due: pages

Added PR suggestions into documentation
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch03_container_format.md
Due: pages

Resolved linter warnings
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch03_container_format.md
Due: pages

Added version to KeyLabel
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch03_container_format.md
Due: pages

Added server expiry requests to use cases
  cdoc2-system-docs/docs/01_use_case_model/ch03_use_cases.md
Due: pages

Changed UC name
  cdoc2-system-docs/docs/01_use_case_model/ch03_use_cases.md
Due: pages

Fixed typos
  cdoc2-system-docs/docs/01_use_case_model/ch03_use_cases.md
Due: pages

RM-3055: added cdoc2 RIA deployment diagram draft
  draw.io/README.md
  draw.io/cdoc2-deployment.drawio.png
Due: none

RM-3055: Added proper cdoc2-pgha cluster to the diagram
  draw.io/cdoc2-deployment.drawio.png
Due: none

Python POC
  cdoc2_authentication_with_SDJWT.py
Due: none

RM-3055: Remove cdoc2-deployment.drawio.png as its moved to cdoc2-ria-infra-scripts repo.
  draw.io/.gitkeep
  draw.io/README.md
  draw.io/cdoc2-deployment.drawio.png
Due: none

PoC attempts
  auth.md
  cdoc2_authentication_with_JWT.py
  cdoc2_authentication_with_SDJWT_without_holder_binding.py
Due: none

starting docs
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch04_authentication_protocol.md
Due: pages

better POC
  .vscode/settings.json
  cdoc2_authentication_with_SDJWT_without_holder_binding.py
Due: none

start of doc
  auth.md
  cdoc2_authentication_with_SDJWT_without_holder_binding.py
Due: none

RM-3258: Restore static salt constant values from CDOC2* to CDOC20*
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch05_cryptographic_details.md
  old_files_and_docs/mkdocs_try1/CDOC2_spec_machine_translated.md
Due: pages

code and doc
  auth.md
  cdoc2_authentication_with_SDJWT_without_holder_binding.py
Due: none

additional note about "typ" field
  auth.md
Due: none

added some details about diclosures
  auth.md
Due: none

better poc code and docs
  auth.md
  cdoc2_authentication_with_SDJWT_without_holder_binding.py
Due: none

RM-3251: define CDOC2 ref-impl supported field names.
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/.pages
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/appendix_d_keylabel.md
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/ch03_container_format.md
Due: pages

Removed from mkdocs things not in release 1
  cdoc2-system-docs/docs/01_use_case_model/.pages
  cdoc2-system-docs/docs/01_use_case_model/ch03_use_cases v2.md
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/appendix_d_keylabel v2.md
  cdoc2-system-docs/docs/03_system_architecture/ch01_system_context v2.md
  cdoc2-system-docs/docs/03_system_architecture/ch01_system_context.md
  cdoc2-system-docs/docs/03_system_architecture/ch02_system_components v2.md
  cdoc2-system-docs/docs/03_system_architecture/ch02_system_components.md
  cdoc2-system-docs/docs/03_system_architecture/ch03_external_interfaces v2.md
  cdoc2-system-docs/docs/03_system_architecture/ch03_external_interfaces.md
  cdoc2-system-docs/docs/img/CDOC2 release 1.jpg
  cdoc2-system-docs/mkdocs.yml
  vp/cdoc2.vpp
Due: pages

Removed long-term token from version 1
  cdoc2-system-docs/docs/01_use_case_model/SID_MID_use_cases.md
  cdoc2-system-docs/docs/01_use_case_model/ch03_use_cases.md
Due: pages

Cleanup and added co-funding logo
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/appendix_d_keylabel v2.md
  cdoc2-system-docs/docs/02_protocol_and_cryptography_spec/appendix_d_keylabel.md
  cdoc2-system-docs/docs/08_User_Guides/.pages
  cdoc2-system-docs/docs/09_Appendixes/.pages
  cdoc2-system-docs/docs/09_Appendixes/A1_Security_level.md
  cdoc2-system-docs/docs/09_Appendixes/A2_integration_with_password_managers.md
  cdoc2-system-docs/docs/img/cofunding_logo.jpg
  cdoc2-system-docs/docs/index.md
Due: pages

Moved user guides out of docs folder so that those won't get automatically included
  cdoc2-system-docs/v2/08_User_Guides/.pages
  cdoc2-system-docs/v2/08_User_Guides/container_storage_guide.md
  cdoc2-system-docs/v2/08_User_Guides/konteineri_säilitamise_juhend.md
  cdoc2-system-docs/v2/08_User_Guides/parooli_juhend.md
  cdoc2-system-docs/v2/08_User_Guides/password_guide.md
  cdoc2-system-docs/v2/08_User_Guides/public_intro.md
Due: pages

RM-3468: add mike
  mkdocs_requirements.txt
Due: build-image

fixing hardcode node version
  Dockerfile
Due: build-image

RM-3468: replaced mkdocs with mike util
  .gitlab-ci.yml
Due: none

Documented the use of mike and added it as a default install.
  cdoc2-system-docs/README.md
  mkdocs_requirements.txt
Due: build-image, pages

Hide appendixes
  cdoc2-system-docs/docs/09_Appendixes/.pages
Due: pages

Path conditions:
  build-image: any of: Dockerfile, mkdocs_requirements.txt
  pages: any of: cdoc2-system-docs/**/*
